@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    color: black;
    background-color: white;
}

select:hover {
    background-color: #3019bd;
    color: white;
}

input {
    background-color: white;
    color: black;
}

.color {
    color: black;
    background-color: white;
}

.color:hover {
    background-color: #3019bd;
}

button {
    color: black;
    background-color: white;
}

.color:hover {
    background-color: #3019bd;
}