@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primaryColor: #000;
    --secondarycolor: #202020;
    --primaryText: #3019bd;
    --background: #202020;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #fff;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #000;
    --navbar-light-secondary: #606060;
    --navbar-border-color: #303030;
    --navbar-bordder-color: #ab7fff;

}

html, body {
    margin: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


li {
    margin-left: 16px;
}

a {
    cursor: pointer;
}

#nav-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background: #ffffff;

    box-shadow: 1px 1px 5px 1px lightgrey;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-weight: normal;
    overflow: hidden;
    user-select: none;
}

#nav-bar hr {
    margin: 0;
    position: relative;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-border-color);
    content: attr(data-content);
    display: inline-block;
}

#nav-bar a {
    color: inherit;
    text-decoration: inherit;
}

#nav-header {
    width: calc(100% - 16px);
    border-radius: 8px;
    position: relative;
    min-height: 45px;
    background: var(--primaryText);
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
    left: 8px;
    top: 8px;
    right: 8px;
}

#nav-bar hr {
    position: absolute;
    bottom: 0;
}

#nav-title {
    transition: opacity 1s;
}
#nav-content {
    overflow-x: hidden;
}

#nav-content::-webkit-scrollbar-button {
    height: 16px;
}

.nav-project {
    padding-left: 8px;
    padding-right: 16px;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    color: var(--navbar-light-secondary);
    direction: ltr;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.2s;
    border-radius: 8px;
    white-space: nowrap;
}

.nav-project:hover {
    background-color: #c8beff;
}

.nav-project .dropdown {
    transition: transform 0.3s ease; /* Füge eine Transition für den Pfeil hinzu */
}

.nav-project[data-isDropdownOpen="true"] .dropdown {
    transform: rotate(90deg);
}

.nav-project[data-isDropdownOpen="false"] .dropdown {
    transform: rotate(90deg);
}

.nav-sub-notes {
    display: none; /* Verstecke die Unterelemente standardmäßig */
}

.sub-note {
    width: 100%;
    display: flex;
    padding-left: 32px;
}

.nav-sub-notes.show {
    display: block; /* Zeige die Unterelemente, wenn die Klasse 'show' vorhanden ist */
}

.nav-note {
    padding-left: 32px;
    padding-right: 16px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    color: var(--navbar-light-secondary);
    direction: ltr;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.2s;
    border-radius: 8px;
    white-space: nowrap;
}

.nav-project-addNote {
    padding-left: 32px;
    padding-right: 16px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    color: #707070;
    direction: ltr;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 8px;
    white-space: nowrap;
}

.nav-project-addProject {
    position: relative;
    height: 45px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
    background-color: #3019bd;
    margin: 8px;
    border-radius: 5px;
    Display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.nav-project-addNote:hover {
    background-color: #eaeaea;
}

.nav-bar-heading{
    padding-left: 3px;
    font-size: x-small;
    color: #303030;
    font-weight: bolder;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.document {
    width: 50%;
}

.container {
    margin-left: 15%;
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: hidden;
}

.toolbar {
    padding: 16px 10%;
    background: #fff;
    display: flex;
    flex-direction: column; /* Änderung: Flexbox in Spaltenrichtung */
    align-items: center;
    box-shadow: 1px 1px 5px 1px lightgrey;

}

.toolbar .head {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center; /* Zentrieren der Elemente in der head-Reihe */
    margin-bottom: 16px;
}

.toolbar .head select {
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.toolbar .head select:hover {

    background: var(--primaryText);
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.toolbar .head .color {
    box-shadow: 1px 1px 5px 1px lightgrey;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding: 0 10px;
}

.toolbar .head .color:hover {
    background: var(--primaryText);
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.toolbar .head .color span {
    font-size: 14px;
}

.toolbar .head .color input {
    border: none;
    padding: 1px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: transparent;
}

.toolbar .head .color input::-moz-color-swatch {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.toolbar .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
    justify-content: center; /* Zentrieren der Elemente in der btn-toolbar-Reihe */
}

.toolbar .btn-toolbar button {
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px lightgrey;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.toolbar .btn-toolbar button:hover {
    background: var(--primaryText);
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 5px 1px #3019bd;

}

#text-content {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    padding-top: 16px;
    outline: none;
    max-height: 50vh;
    overflow: auto;
    color: var(--navbar-light-primary);
    cursor: text;

}

#title {
    width: 100%;
    padding-top: 16px;
    text-align: center;
    color: var(--primaryText);
    font-weight: 600;
    font-size: xx-large;
    cursor: text;
    outline: none;
}

#last-updated {
    position: absolute;
    right: 3px;
    font-size: x-small;
    color: #303030;
}

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.popup-box.show {
    opacity: 1;
    pointer-events: auto;
}

.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.popup-box, .popup-box .popup {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.25s ease;
    z-index: -1;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}

.content form textarea {
    height: 150px;
    padding: 8px 15px;
    resize: none;
}

.content form input {
    background-color: transparent;
}

.content form button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    background: var(--primaryColor);
}