@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primaryColor: #000;
    --secondarycolor: #202020;
    --primaryText: #3019bd;
    --background: #202020;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #fff;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #000;
    --navbar-light-secondary: #606060;
    --navbar-border-color: #303030;
    --navbar-bordder-color: #ab7fff;

}

html, body {
    margin: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.document {
    width: 50%;
}

.container {
    margin-left: 15%;
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: hidden;
}

.toolbar {
    padding: 16px 10%;
    background: #fff;
    display: flex;
    flex-direction: column; /* Änderung: Flexbox in Spaltenrichtung */
    align-items: center;
    box-shadow: 0 0 10px lightgrey;
    clip-path: inset(0px -10px -10px -10px); /* Entfernen vom Schatten oben */
}

.toolbar .head {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center; /* Zentrieren der Elemente in der head-Reihe */
    margin-bottom: 16px;
}

.toolbar .head select {
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.toolbar .head select:hover {

    background: var(--primaryText);
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.toolbar .head .color {
    box-shadow: 1px 1px 5px 1px lightgrey;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding: 0 10px;
}

.toolbar .head .color:hover {
    background: var(--primaryText);
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 5px 1px lightgrey;
}

.toolbar .head .color span {
    font-size: 14px;
}

.toolbar .head .color input {
    border: none;
    padding: 1px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: transparent;
}

.toolbar .head .color input::-moz-color-swatch {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.toolbar .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
    justify-content: center; /* Zentrieren der Elemente in der btn-toolbar-Reihe */
}

.toolbar .btn-toolbar button {
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px lightgrey;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.toolbar .btn-toolbar button:hover {
    background: var(--primaryText);
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 5px 1px #3019bd;

}

#text-content {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    padding-top: 16px;
    outline: none;
    max-height: 50vh;
    overflow: auto;
    color: var(--navbar-light-primary);
    cursor: text;

}

#title {
    width: 100%;
    padding-top: 16px;
    text-align: center;
    color: var(--primaryText);
    font-weight: 600;
    font-size: xx-large;
    cursor: text;
    outline: none;
}